In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [42]:
rank_list = []
major_list = []
degree_list = []
early_pays = []
mid_pays = []
high_means = []

for n in range(1, 2):
    url = f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{n}"
    response = requests.get(url=url)
    soup = BeautifulSoup(response.text, "html.parser")


    table = soup.select(".data-table__value")
    table_list = [row.getText() for row in table]
    # print(table_list)
    
    for i in range(0, len(table_list), 6):
        rank_list.append(table_list[i])

    for i in range(1, len(table_list), 6):
        major_list.append(table_list[i])

    for i in range(2, len(table_list), 6):
        degree_list.append(table_list[i])

    for i in range(3, len(table_list), 6):
        early_pays.append(int(table_list[i].strip("$").replace(",", "")))

    for i in range(4, len(table_list), 6):
        mid_pays.append(int(table_list[i].strip("$").replace(",", "")))

    for i in range(5, len(table_list), 6):
        high_means.append(table_list[i])


data_dict = {
    "Rank": rank_list,
    "Major": major_list,
    "Degree Type": degree_list,
    "Early Career Pay": early_pays,
    "Mid-Career Pay": mid_pays,
    "% High Meaning": high_means,
}

data = pd.DataFrame(data_dict)
# data.to_csv("college_salary_report.csv")

In [43]:
data.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,93200,187300,67%
1,2,Operations Research & Industrial Engineering,Bachelors,84800,170400,28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,108500,159300,46%
3,4,Interaction Design,Bachelors,68300,155800,55%
4,5,Public Accounting,Bachelors,59800,147700,47%

In [44]:
data.shape

(827, 6)

#### What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [45]:
print(data["Mid-Career Pay"].max())
print(f"Index for the max mid career salary: {data['Mid-Career Pay'].idxmax()}")
data["Major"][0]

187300
Index for the max mid career salary: 0

'Petroleum Engineering'

#### Majors with the Highest Potential

In [50]:
highest_potential = data.sort_values('Mid-Career Pay', ascending=False)
highest_potential[['Major', 'Mid-Career Pay']].head()

                                              Major  Mid-Career Pay
0                             Petroleum Engineering          187300
1      Operations Research & Industrial Engineering          170400
2  Electrical Engineering & Computer Science (EECS)          159300
3                                Interaction Design          155800
4                                 Public Accounting          147700

#### Which college major has the lowest starting salary and how much do graduates earn after university?

In [51]:
print(data['Early Career Pay'].min())
data['Major'].loc[data['Early Career Pay'].idxmin()]

34500

'Voice & Opera'

#### Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [52]:
print(data['Mid-Career Pay'].min())
data['Major'].loc[data['Mid-Career Pay'].idxmin()]

40300

'Metalsmithing'